@import './variables.scss';


.primary-button {
    border-radius: 8px;
    background-color:$main;
    width: 340px;
    height: 55px;
    outline: none;
    border: none;
    cursor: pointer;
    @media (max-width:576px) {
      width:271px;
      height: 45px;
    }
  }

  .content-holder {
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width:576px) {
      max-width: 305px;
      margin: 0 auto;
    }
  }

  .text-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
