$main: rgb(239, 79, 95);

$sm : "only screen and (min-width : 320px) and (max-width: 768px)";
$md : "only screen and (min-width : 769px) and (max-width: 1280px)";
$lg : "only screen and (min-width : 1280px)";